// Styles are globally scoped, please use unique names and nested selectors to avoid conflicts.

.main {
    .sidebar {
        border-right: 1px solid var(--theme-borders);
        display: inline-flex;
        flex-direction: column;
        height: calc(100% - 2rem);
        min-width: 300px;
        padding: 1rem;
        position: relative;
        width: var(--sidebar-width);

        .extension-renderer {
            margin-top: 1rem;
        }

        .chats {
            overflow-y: scroll;
            overflow-x: hidden;
            display: inline-flex;
            flex: 1;
            padding-top: 7px;
            min-height: 0;
            flex-direction: column;
            position: absolute;
            padding-right: 10px;
            top: 0;
            left: 0;
            right: -10px;
            bottom: 0;
            padding-right: 0.9rem;
            &:hover {
                &::-webkit-scrollbar-thumb {
                    background: var(--theme-primary) !important;
                    opacity: 1;
                }
            }
        }

        .chat_wrap {
            position: relative;
            flex: 1;
            margin-bottom: 1rem;
            display: flex;
            max-height: 100%;
            width: 100%;
        }


        .fill-vertical {
            display: inline-flex;
            flex-direction: column;
            flex: 1;
            align-content: center;
        }

        .favorites {
            display: inline-flex;
            -webkit-user-select: none; /* Safari */
            user-select: none; /* Non-prefixed version, currently */

            .labeled {
                margin-bottom: 10px;
                padding: 0 0 0.75rem;
                position: relative;

                span {
                    bottom: -10px;
                    color: var(--theme-text-muted);
                    font-size: var(--text-small);
                    left: 0;
                    position: absolute;
                    right: 0;
                    text-align: center;
                }
            }
        }
    }
}