#usage {
  width: calc(100% - 1rem);
  border-radius: 50%;
  border-bottom: none;
  position: relative;
  display: inline-flex;
  height: 40px;
  border-radius: 20px;
  overflow: hidden;
  // padding: 0rem 1rem;

  #usage_bar,
  #usage_bar_bg {
    background: var(--theme-primary);
    height: 100%;
    border-radius: 2px;
    position: absolute;
    z-index: 1;
    padding-left: 0.5rem;
    border-radius: 20px;
    display: inline-flex;
    justify-content: center;
  }
  #usage_bar_bg {
    background: var(--theme-background-light);
    width: 100%;
    z-index: 0;
    padding-right: 0.5rem;
  }
  #usage_text {
    margin-top: 16px;
    padding: 0.1rem;
    color: var(--theme-text-muted);
    text-align: right;
  }
}

.usage-available-text {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--theme-text);
  text-align: center;

  span {
    font-size: var(--text-small);
    color: var(--theme-text-muted);
  }
}

#usage_bar_bg {
  .usage-available-text {
  }
}
