#usage {
  border-radius: 20px;
  position: relative;
  display: flex;
  overflow: hidden;
  line-height: 1;
  flex-grow: 1;

  #usage_bar,
  #usage_bar_bg {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0.4rem 1rem;
    overflow: hidden;
    border-radius: 20px;

    .usage_bar_heading,
    .usage_bar_subheading {
      width: 100%;
      text-align: center;
    }

    .usage_bar_subheading {
      font-size: var(--text-small);
    }
  }

  #usage_bar_bg {
    flex-grow: 1;
    background: var(--theme-primary);
    color: var(--theme-text);
  }

  #usage_bar {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: clip-path 1s ease-in-out;
    background: var(--theme-background-light);
    color: var(--theme-text-muted);
  }
}
