/* Styles are globally scoped, please use unique names and nested selectors to avoid conflicts. */

.auth {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 80%;
    width: 100%;

    .container {
        min-width: 300px;
        max-width: 720px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .full-width {
            .input {
                width: 100%;
            }

            .button {
                width: 100%;
            }
        }
    }
}