// Styles are globally scoped, please use unique names and nested selectors to avoid conflicts.

.friends {
    display: inline-flex;
    flex-direction: column;
    padding: 1rem;
    overflow: hidden;
    .static {
        display: inline-flex;
        flex-direction: column;
        width: 100%;
    }

    .scrolling {
        overflow: hidden;
        display: inline-flex;
        flex: 1;
        flex-direction: column;
        padding-right: calc(1rem + 5px);
        width: calc(100% - 0.5rem);

        &:hover {
            overflow-y: scroll;
            margin-right: -5px;
            padding-right: 1rem;
        }
    }

    .friend,
    .request {
        margin-bottom: 1rem;
    }

    .add {
        display: inline-flex;
        flex-direction: row;

        .icon-input {
            margin-right: 1rem;
            flex: 1;
        }
    }
}