// Styles are globally scoped, please use unique names and nested selectors to avoid conflicts.

#friends {
  width: 100%;
  height: 100%;
  display: inline-flex;
  flex-direction: row;

  #content {
    flex: 1;
    min-width: 0;
    height: 100%;
    display: inline-flex;
    overflow-x: hidden;
    overflow-y: scroll;
    flex-direction: column;
  }

  .a-z-list {
    flex-direction: column;
    height: 100%;
    float: right;
    width: 16px;
    margin-right: 12px;
  }

  @media only screen and (max-height: 569px) {
    ul {
      font-size: 12px;
    }
  }

  @media only screen and (min-height: 570px) {
    ul {
      font-size: 14px;
    }
  }

  @media only screen and (min-height: 650px) {
    ul {
      font-size: 16px;
    }
  }

  ul {
    list-style-type: none;
    margin-right: 2px;
    padding: 8px 8px 8px 0px;
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .friends-separator {
    align-items: center;
    height: 12px;
    width: calc(100% - 5rem);
    margin: 4px 0px 16px 0px;
    text-align: left;
  }

  .friends-list {
    padding: 1rem;
  }

  .toolbar {
    min-height: 0;
    display: inline-flex;
    padding: 0.5rem 1rem;
    width: calc(100% - 2rem);
    flex-direction: row;
    border-bottom: 1px solid var(--theme-borders);

    .controls {
      flex: 1;
      height: 100%;
      min-width: 0;
      display: inline-flex;
      flex-direction: row;
      justify-content: flex-end;

      .button {
        margin-left: 0.25rem;
        padding: 0 0.25rem;
      }
    }
  }
}
