#page-header {
  margin-bottom: 0.2rem;
  border-bottom: 1px solid var(--theme-borders);

  @media only screen and (min-width: 600px) {
    &.header-hidden {
      display: none;
    }
  }

  #toolbar {
    #content {
      .toolbar-content {
        display: flex;
        flex-grow: 1;
        justify-content: space-between;
        align-items: center;

        .toolbar-start,
        .toolbar-end {
          flex-grow: 1;
          flex-basis: 0;
        }
      }
    }
  }
}
