// Extensions
.mini-extension-renderer {
  width: 40px;
  height: 40px;
  display: inline-flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  border-radius: 4px;
  font-size: 0.625rem;
  color: var(--theme-text-muted);
  border: 1px dashed var(--theme-borders);
  padding: 0.5rem;

  button {
    border: none;
    color: var(--theme-text-muted);
    background: var(--theme-borders);
    border-radius: 4px;
    margin: 0 auto;
  }
}

.extension-renderer {
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  border-radius: 4px;
  font-size: 0.625rem;
  color: var(--theme-text-muted);
  border: 1px dashed var(--theme-borders);
  padding: 0.5rem;

  button {
    border: none;
    max-width: 200px;
    color: var(--theme-text-muted);
    background: var(--theme-borders);
    border-radius: 4px;
    margin: 0 auto;
  }
}
