#contacts {
  #sidebar {
    width: var(--sidebar-width);
    height: 100%;
    padding: 1rem;
    border-right: 1px solid var(--theme-borders);

    .row {
      display: inline-flex;
      align-items: center;

      svg {
        margin-right: 0.5rem;
      }
    }

    .root {
      color: var(--theme-text-bright);
      padding-left: 0;
      display: inline-flex;
    }
  }
}
