// Icon Button

.icon-button {
    user-select: none;
    min-width: 40px;
    padding: 0;
}

.icon-button svg {
    margin-bottom: 0;
    margin-right: 0;
    fill: transparent;
}

.icon-button-lg {
    min-width: 52px;
    height: 52px;
    border-radius: 26px;
}