.unlock {
    align-items: center;
    display: flex;
    height: 80%;
    justify-content: center;
    text-align: center;

    .container {
        max-width: 350px;
        position: relative;

        .invis-input {
            bottom: 0;
            cursor: default;
            opacity: 0;
            // font-size: 0; This breaks windows inputs
        }

        .confirm-button {
            bottom: -12px;
            position: absolute;
            right: -80px;
            z-index: 3;
        }
    }

    .login-actions {
        bottom: 2rem;
        display: inline-block;
        left: 2rem;
        max-height: 40px;
        position: fixed;
        right: 2rem;
        text-align: right;
        z-index: 3;

        div {
            padding: .2rem .6rem;

            &:last-of-type {
                padding-right: 0;
            }
        }
    }

}