.skeletal-stack {
  padding: 1rem 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex-grow: 1;

  .skele-chat {
    display: flex;
    opacity: 0.15;
    gap: 1rem;

    &:nth-child(2) {
      opacity: 0.1;
    }
    &:nth-child(3) {
      opacity: 0.05;
    }

    .right-side {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      gap: 0.5rem;
      .rect {
        height: 2rem;
        background-color: var(--theme-placeholder);
        border-radius: 4px;
      }
    }

    .circle {
      width: 40px;
      height: 40px;
      flex-shrink: 0;
      border-radius: 20px;
      background-color: var(--theme-placeholder);
    }
  }
}
