/* Styles are globally scoped, please use unique names and nested selectors to avoid conflicts. */

.sidebar {
    .chat {
        display       : inline-flex;
        flex-direction: row;
        width         : calc(100%);
        padding       : 0.5rem;
        margin-left   : -0.5rem;
        border-radius : 4px;
        cursor        : pointer;
        margin-bottom : 0.5rem;

        &:hover,
        &.active {
            background: var(--theme-background-light);
        }

        .inline-skeleton {
            margin-bottom: 0.5rem;
        }

        .pfp {
            height       : 40px;
            width        : 40px;
            border-radius: 20px;
            background   : var(--theme-text-muted);
        }

        .who {
            flex          : 1;
            text-align    : left;
            padding       : 0 1rem;
            display       : inline-flex;
            flex-direction: column;

            .top-row {
                display       : inline-flex;
                flex-direction: row;

                h3 {
                    margin: 0;
                }

                .timestamp {
                    flex      : 1;
                    text-align: right;
                    color     : var(--theme-text-muted);
                }
            }

            span {
                font-size: var(--text-size);
                color    : var(--theme-text-darker);
            }
        }
    }
}