// Styles are globally scoped, please use unique names and nested selectors to avoid conflicts.

.sidebar {
    .chat {
        border-radius: 4px;
        cursor: pointer;
        display: inline-flex;
        flex-direction: row;
        margin-bottom: .5rem;
        margin-left: -.5rem;
        padding: .5rem;
        width: calc(100%);
        -webkit-user-select: none; /* Safari */
        user-select: none; /* Non-prefixed version, currently */

        &:hover,
        &.active {
            background: var(--theme-background-light);
        }

        .inline-skeleton {
            margin-bottom: .5rem;
        }

        .pfp {
            background: var(--theme-text-muted);
            border-radius: 20px;
            height: 40px;
            width: 40px;
            margin: 0.25rem 0 0.5rem 0.7rem;
        }

        .who {
            display: inline-flex;
            flex: 1;
            flex-direction: column;
            padding: 0 1rem;
            text-align: left;

            .top-row {
                display: inline-flex;
                flex-direction: row;

                h3 {
                    margin: 0;
                }

                .timestamp {
                    color: var(--theme-text-muted);
                    flex: 1;
                    text-align: right;
                }
            }

            span {
                color: var(--theme-text-darker);
                font-size: var(--text-size);
            }
        }

        .msg-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            // thanks to https://hackingui.com/a-pure-css-solution-for-multiline-text-truncation/ for this
            /* styles for '...' */ 
            .block-with-text {
                /* hide text if it more than N lines  */
                overflow: hidden;
                /* for set '...' in absolute position */
                position: relative; 
                /* use this value to count block height */
                line-height: 1.2em;
                /* max-height = line-height (1.2) * lines max number (2) */
                max-height: 2.4em; 
                /* fix problem when last visible word doesn't adjoin right side  */
                text-align: justify;  
                /* place for '...' */
                margin-right: -1em;
                padding-right: 1em;

                //white-space: pre-line;
                word-break: break-word;
            }
            /* create the ... */
            .block-with-text:before {
                /* points in the end */
                content: '...';
                /* absolute position */
                position: absolute;
                /* set position to right bottom corner of block */
                right: 0;
                bottom: 0;
            }
            /* hide ... if we have text, which is less than or equal to max lines */
            .block-with-text:after {
                /* points in the end */
                content: '';
                /* absolute position */
                position: absolute;
                /* set position to right bottom corner of text */
                right: 0;
                /* set width and height */
                width: 1em;
                height: 1em;
                margin-top: 0.2em;
                /* bg color = bg color under block */
                background: var(--theme-background);
                /*todo: change background color on active or hover. currently doesn't work*/
                :hover,
                :active {
                    background: var(--theme-background-light);
                }
            }
        }
    }
}