// Styles are globally scoped, please use unique names and nested selectors to avoid conflicts.

.sidebar {
    .chat {
        border-radius: 4px;
        cursor: pointer;
        display: inline-flex;
        flex-direction: row;
        margin-bottom: .5rem;
        margin-left: -.5rem;
        padding: .5rem;
        width: calc(100%);

        &:hover,
        &.active {
            background: var(--theme-background-light);
        }

        .inline-skeleton {
            margin-bottom: .5rem;
        }

        .pfp {
            background: var(--theme-text-muted);
            border-radius: 20px;
            height: 40px;
            width: 40px;
        }

        .who {
            display: inline-flex;
            flex: 1;
            flex-direction: column;
            padding: 0 1rem;
            text-align: left;

            .top-row {
                display: inline-flex;
                flex-direction: row;

                h3 {
                    margin: 0;
                }

                .timestamp {
                    color: var(--theme-text-muted);
                    flex: 1;
                    text-align: right;
                }
            }

            span {
                color: var(--theme-text-darker);
                font-size: var(--text-size);
            }
        }
    }
}