.settings-main {
  min-height: 0;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--theme-borders);

  .toolbar {
    min-height: 0;
    display: flex;
    padding: 0.75rem;
    border-bottom: 1px solid var(--theme-borders);
    justify-content: flex-end;
  }

  .settings-content {
    flex-grow: 1;
    padding: 0.75rem;
    overflow-y: auto;
  }
}
