#settings {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

    #content {
        width: calc(90% - 4rem);
        height: calc(90% - 4rem);
        margin: 5%;
        background-color: var(--theme-background);
        border-radius: 4px;
        border: 1px solid var(--theme-borders);
        padding: 1rem;
    }
}