// Styles are globally scoped, please use unique names and nested selectors to avoid conflicts.

.request {
  align-items: center;
  display: flex;
  gap: 16px;

  &:not(:last-child) {
    margin-bottom: 0.5rem;
  }

  .pfp {
    background: var(--theme-text-muted);
    border-radius: 20px;
    height: 40px;
    width: 40px;
    flex-shrink: 0;
  }

  .who {
    display: flex;
    align-items: center;
    height: 40px;
    text-align: left;
    flex-grow: 1;
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    h3 {
      margin: 0;
    }
  }

  .request-controls {
    display: flex;
    flex-shrink: 0;
    height: 40px;
    gap: 0.5rem;
  }
}
