// Styles are globally scoped, please use unique names and nested selectors to avoid conflicts.

.main {
    display: flex;
    flex-direction: row;
    height: 100%;
    text-align: center;
    width: 100%;
    
    -webkit-user-select: none;
    user-select: none;
}

.pill {
    background-color: var(--theme-primary);
    border-radius: 20px;
    margin-left: -15px;
    margin-top: -10px;
    padding: 2px;
}