// Styles are globally scoped, please use unique names and nested selectors to avoid conflicts.

.main {
    display: flex;
    flex-direction: row;
    height: 100%;
    text-align: center;
    width: 100%;
}