#settings {
  .wrapper > .content {
    display: flex;
    justify-content: center;

    > .padded {
      max-width: 720px;
      width: 100%;
    }
  }

  .item {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 1rem 0;
    border-bottom: 1px solid var(--theme-borders);
    gap: 1rem;

    .description {
      text-align: left;
      flex-grow: 1;
    }

    .interactive {
      display: flex;
      align-items: center;
      justify-content: end;
    }
  }

  .padded {
    padding: 1rem;
  }
}
