.file_info {
  bottom: 0;
  margin-top: 0.25rem;
}

.thumb_icon {
  margin: auto;
  display: block;
  max-height: 100px;
}

.folder {
  display: inline-flex;
  flex-direction: column;
  contain: content;
  align-items: center;
  width: fit-content;
  justify-content: flex-start;
  height: 80px;
  cursor: pointer;
  max-height: fit-content;
}
