.button-files {
  cursor: pointer;
  border: none;
  color: transparent;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 10px;
  width: 130px;
  transition-duration: 0.4s;
}

.file {
  background-color: transparent;
  color: white;
}

.file:hover {
  background-color: var(--theme-secondary-light);
  width: 130px;
  color: white;
}
