.friends-sidebar {
  .row {
    display: flex;
    align-items: center;

    svg {
      margin-right: 0.5rem;
    }
  }

  .root {
    color: var(--theme-text-bright);
    padding-left: 0;
    display: flex;
  }

  .code {
    width: 100%;

    .button {
      min-width: 100%;
    }
  }

  .add {
    width: 100%;
    display: flex;

    .icon-input {
      flex: 1;
    }

    .button {
      margin-left: 1rem;
    }
  }

  .scroll-container {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .friend-request-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}
