#friends {
  #sidebar {
    .row {
      display: inline-flex;
      align-items: center;

      svg {
        margin-right: 0.5rem;
      }
    }

    .root {
      color: var(--theme-text-bright);
      padding-left: 0;
      display: inline-flex;
    }
  }
}
