// Tooltips

.tooltip {
  user-select: none;
  height: 35px;
  min-width: 80px;
  border-radius: 4px;
  border: none;
  color: var(--theme-text-bright);
  background-color: var(--theme-primary);
  position: relative;
}

.tooltip-arrow-top,
.tooltip-arrow-top-left,
.tooltip-arrow-top-right {
  margin-top: 8px;
}

.tooltip-arrow-bottom,
.tooltip-arrow-bottom-left,
.tooltip-arrow-bottom-right {
  margin-bottom: 8px;
}

.tooltip-arrow-top-left::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 16px;
  margin-left: -6px;
  border-width: 8px;
  border-style: solid;
  border-color: transparent transparent var(--theme-primary) transparent;
}

.tooltip-arrow-top::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -6px;
  border-width: 8px;
  border-style: solid;
  border-color: transparent transparent var(--theme-primary) transparent;
}

.tooltip-arrow-top-right::after {
  content: "";
  position: absolute;
  bottom: 100%;
  right: 16px;
  margin-left: -6px;
  border-width: 8px;
  border-style: solid;
  border-color: transparent transparent var(--theme-primary) transparent;
}

.tooltip-arrow-left::after {
  content: "";
  position: absolute;
  bottom: calc(50% - 8px);
  right: 100%;
  margin-left: -6px;
  border-width: 8px;
  border-style: solid;
  border-color: transparent var(--theme-primary) transparent transparent;
}

.tooltip-arrow-right::after {
  content: "";
  position: absolute;
  bottom: calc(50% - 8px);
  left: 100%;
  margin-right: -6px;
  border-width: 8px;
  border-style: solid;
  border-color: transparent transparent transparent var(--theme-primary);
}

.tooltip-arrow-bottom-left::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 16px;
  margin-left: -6px;
  border-width: 8px;
  border-style: solid;
  border-color: var(--theme-primary) transparent transparent transparent;
}

.tooltip-arrow-bottom::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -6px;
  border-width: 8px;
  border-style: solid;
  border-color: var(--theme-primary) transparent transparent transparent;
}

.tooltip-arrow-bottom-right::after {
  content: "";
  position: absolute;
  top: 100%;
  right: 16px;
  margin-left: -6px;
  border-width: 8px;
  border-style: solid;
  border-color: var(--theme-primary) transparent transparent transparent;
}

.tooltip-secondary {
  background-color: var(--theme-secondary);
}

.tooltip-arrow-right.tooltip-secondary::after {
  border-color: transparent transparent transparent var(--theme-secondary);
}

.tooltip-arrow-bottom-left.tooltip-secondary::after,
.tooltip-arrow-bottom-right.tooltip-secondary::after,
.tooltip-arrow-bottom.tooltip-secondary {
  border-color: var(--theme-secondary) transparent transparent transparent;
}

.tooltip-arrow-left.tooltip-secondary::after {
  border-color: transparent var(--theme-secondary) transparent transparent;
}

.tooltip-arrow-top-right.tooltip-secondary::after,
.tooltip-arrow-top.tooltip-secondary::after,
.tooltip-arrow-top-left.tooltip-secondary::after {
  border-color: transparent transparent var(--theme-secondary) transparent;
}
