.topbar {
  display: flex;
  padding: 16px;
  gap: 16px;
  align-items: center;

  :not(.topbar-user-info) {
    flex-shrink: 0;
  }

  &-controls {
    display: flex;
    gap: 8px;
  }

  &-user-info {
    flex-grow: 1;
    text-align: left;
    min-width: 0;

    .did {
      color: var(--theme-text-darker);
      font-size: var(--text-small);
    }
  }
}
