// Photo Picker

.photo-picker {
  width: 100px;
  height: 100px;
  background: var(--theme-secondary);
  border-radius: 50px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.profile_photo {
  border: 2px solid var(--theme-foreground);
  border-radius: 100px;
  height: 100px;
  width: 100px;
}

.photo-picker .display {
  height: 100%;
  width: 100%;
  display: inline-flex;
  justify-content: center;
}

.photo-picker .display svg {
  display: inline-block;
  vertical-align: middle;
  align-self: center;
  fill: transparent;
  stroke: var(--theme-text-muted);
}

.photo-picker .icon-button {
  position: absolute;
  bottom: 0;
  right: 0;
  min-width: 30px;
  height: 30px;
  overflow: hidden;
  padding: 0;
}

.photo-picker .icon-button svg {
  padding-top: 2px;
}
