/* Styles are globally scoped, please use unique names and nested selectors to avoid conflicts. */

.friends {
    display: inline-flex;
    flex-direction: column;
    padding: 1rem;
    width: calc(100% - 2rem);

    .add {
        display: inline-flex;
        flex-direction: row;

        .icon-input {
            width: 100%;
            margin-right: 1rem;
        }
    }
}