// Fonts
@import url("extra/assets/style/fonts.css");
// PureCSS
@import url("extra/assets/style/base-min.css");
@import url("extra/assets/style/forms-min.css");
@import url("extra/assets/style/grids-min.css");
// Animate
@import url("extra/assets/style/animate.min.css");

// Globals
:root {
  --heading-size: 18px;
  --subheading-size: 12pt;
  --text-size: 11pt;
  --label-size: 10pt;
  --text-small: 9pt;

  --padding: 2rem;
  --padding-small: 1rem;
  --sidebar-width: 300px;
}

.animate__animated {
  --animate-duration: 0.15s;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
  cursor: pointer;
}
body,
html {
  background: var(--theme-background);
  color: var(--theme-text);
  font-family: "Poppins", sans-serif;
  font-size: var(--text-size);
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

hr {
  border: none;
  border-bottom: 1px solid var(--theme-borders);
  margin: 1rem 0;
}

.pre-alpha {
  width: 100%;
  background-color: var(--theme-primary);
  font-size: var(--text-small);
  padding: 0.5 auto;
  text-align: center;
}

 /* width */
 ::-webkit-scrollbar {
  width: 5px;
  border-radius: 2.5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--theme-background);
  border-radius: 2.5px;
  opacity: 0;
  transition: opacity 1000ms ease;
  -webkit-transition: opacity 1000ms ease;
}


::-webkit-scrollbar-thumb:hover {
  background: var(--theme-primary);
  opacity: 1;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--theme-primary);
  border-radius: 2.5px;
}

.gradient_mask {
  position: absolute;
  background-image: url("extra/assets/img/dither_top.png");
  background-repeat: repeat-x;
  background-size: contain;
  height: 15px;
  width: 100%;
  top: 0;
  z-index: 1;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(1px);
}

.gradient_mask.is_bottom {
  bottom: 0;
  top: unset;
  background-image: url("extra/assets/img/dither_bottom.png");
}

.gradient_mask.is_foreground {
  background-image: url("extra/assets/img/dither_top_foreground.png");
}

.gradient_mask.is_foreground.is_bottom {
  background-image: url("extra/assets/img/dither_bottom_foreground.png");
}

.popup .input {
  background: var(--theme-background);
}

.toast-single {
  background-color: var(--theme-primary) !important;
  border: none !important;
  color: var(--theme-text-bright) !important;
  font-family: "Space Mono", monospace !important;
}

svg {
  fill: transparent;
  stroke: var(--theme-text);
}

#main {
  height: 100%;
}

label {
  color: var(--theme-text-muted);
}

.error_text {
  color: var(--theme-red);
  opacity: 1;
  transition: 0.2s;
  font-size: 10pt;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Space Mono", monospace;
  margin-bottom: 0;
  font-size: var(--subheading-size);
}

h1 {
  font-size: var(--heading-size);
}

p {
  margin: 0;
  font-size: var(--text-size);
  color: var(--theme-text);
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: var(--heading-size);
}

.m-top {
  margin-top: 1rem;
}

.m-top-sm {
  margin-top: 1rem;
  display: inline-flex;
}

.m-bottom {
  margin-bottom: 1rem;
}

.m-bottom-sm {
  margin-bottom: 1rem;
}

.m-bottom-xl {
  margin-bottom: 4rem;
}

label {
  font-size: var(--label-size);
  text-align: left;
  margin: 1rem 0;
  font-family: "Space Mono", monospace;
  color: var(--theme-text-muted);
}

::placeholder {
  color: var(--theme-placeholder);
}

// Activity Indicator

.activity.inline {
  display: inline-flex;
  align-items: center;

  p {
    font-size: var(--text-size);
    color: var(--theme-text-darker);
    font-family: "Space Mono", monospace !important;
  }

  .bubble {
    height: 12px;
    width: 12px;
    background: var(--theme-text-muted);
    border-radius: 6px;
    margin-right: 0.5rem;

    &.online {
      background-color: var(--theme-green);
    }

    &.offline {
      background-color: var(--theme-text-muted);
    }
  }
}

// Badges

.badge-renderer {
  width: 24px;
  height: 24px;
  border-radius: 2px;
  background: var(--theme-text-muted);
  display: inline-block;
  margin: 0.25rem;
}

// Buttons
.button {
  user-select: none;
  cursor: pointer;
  background-color: var(--theme-primary);
  border-radius: 20px;
  height: 40px;
  min-width: 110px;
  text-align: center;
  border: none;
  gap: 8px;
  color: var(--theme-text-bright);
  stroke: var(--theme-text-bright);
  padding: 0 2rem;
}

button:disabled,
button[disabled] {
  cursor: default;
  opacity: 0.5;
  pointer-events: none;
}

.button:hover {
  background-color: var(--theme-primary-light);
}

.button:active {
  background-color: var(--theme-primary);
}

.button-secondary {
  background-color: var(--theme-secondary);
}

.button-secondary:hover {
  background-color: var(--theme-secondary-light);
}

.button-secondary:active {
  background-color: var(--theme-secondary);
}

.button span {
  display: inline-block;
  margin-bottom: 8px;
}

.button svg {
  margin-bottom: -5px;
  padding-top: 3px;
  margin-right: 5px;
  fill: transparent;
  stroke: var(--theme-text-bright);
}

.button-lg {
  height: 52px;
  border-radius: 26px;
}

.button-success {
  background-color: var(--theme-green);
}

.button-success:hover {
  background-color: var(--theme-light-green);
}

.button-success:active {
  background-color: var(--theme-green);
}

.button-danger {
  background-color: var(--theme-red);
}

.button-danger:hover {
  background-color: var(--theme-light-red);
}

.button-danger:active {
  background-color: var(--theme-red);
}

// Icon Button

.icon-button {
  user-select: none;
  min-width: 40px;
  padding: 0;
}

.icon-button svg {
  margin-bottom: 0;
  margin-right: 0;
  fill: transparent;
}

.icon-button-lg {
  min-width: 52px;
  height: 52px;
  border-radius: 26px;
}

// Inputs

.input {
  min-width: 100px;
  width: 100%;
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  color: var(--theme-text);
  border-radius: 4px;
  border: none;
  background: var(--theme-foreground);
  box-sizing: border-box;
  border: 1px solid transparent;
  transition: 0.2s;
  margin: 1px;
}

.input:focus {
  outline: none;
  border: 1px solid var(--theme-primary);
  margin: 1px;
}

// Icon Input
.icon-input {
  position: relative;
}

.icon-input .input {
  padding-left: 40px;
}

.icon-input svg {
  position: absolute;
  z-index: 2;
  stroke: var(--theme-placeholder);
  top: 11px;
  left: 10px;
  fill: transparent;
}

// TODO: This works but scss is unhappy.
.icon-input svg {
  &:focus {
    stroke: var(--theme-primary) !important;
  }
}

// Pin Entry

.pin {
  width: 100%;
  display: flex;
  justify-content: space-between;
  transition: 0.2s;
}

.pin span {
  display: inline-block;
  height: 16px;
  width: 16px;
  background: var(--theme-foreground);
  border-radius: 8px;
  transition: 0.2s;
}

.pin span.active {
  background: var(--theme-primary);
}

.pin span.error {
  background: var(--theme-red);
}

.shake {
  animation: shake 0.3s;
}

// Switch

.switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 16px;
  margin-top: 2px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  user-select: none;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--theme-foreground);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border-radius: 10px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 0;
  bottom: -2px;
  border-radius: 10px;
  background-color: var(--theme-text-bright);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

input:checked+.slider {
  background-color: var(--theme-primary);
}

input:focus+.slider {
  box-shadow: 0 0 1px var(--theme-primary);
}

input:checked+.slider:before {
  transform: translateX(16px);
}

// Tooltips

.tooltip {
  user-select: none;
  height: 35px;
  min-width: 80px;
  border-radius: 4px;
  border: none;
  color: var(--theme-text-bright);
  background-color: var(--theme-primary);
  position: relative;
}

.tooltip-arrow-top,
.tooltip-arrow-top-left,
.tooltip-arrow-top-right {
  margin-top: 8px;
}

.tooltip-arrow-bottom,
.tooltip-arrow-bottom-left,
.tooltip-arrow-bottom-right {
  margin-bottom: 8px;
}

.tooltip-arrow-top-left::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 16px;
  margin-left: -6px;
  border-width: 8px;
  border-style: solid;
  border-color: transparent transparent var(--theme-primary) transparent;
}

.tooltip-arrow-top::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -6px;
  border-width: 8px;
  border-style: solid;
  border-color: transparent transparent var(--theme-primary) transparent;
}

.tooltip-arrow-top-right::after {
  content: "";
  position: absolute;
  bottom: 100%;
  right: 16px;
  margin-left: -6px;
  border-width: 8px;
  border-style: solid;
  border-color: transparent transparent var(--theme-primary) transparent;
}

.tooltip-arrow-left::after {
  content: "";
  position: absolute;
  bottom: calc(50% - 8px);
  right: 100%;
  margin-left: -6px;
  border-width: 8px;
  border-style: solid;
  border-color: transparent var(--theme-primary) transparent transparent;
}

.tooltip-arrow-right::after {
  content: "";
  position: absolute;
  bottom: calc(50% - 8px);
  left: 100%;
  margin-right: -6px;
  border-width: 8px;
  border-style: solid;
  border-color: transparent transparent transparent var(--theme-primary);
}

.tooltip-arrow-bottom-left::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 16px;
  margin-left: -6px;
  border-width: 8px;
  border-style: solid;
  border-color: var(--theme-primary) transparent transparent transparent;
}

.tooltip-arrow-bottom::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -6px;
  border-width: 8px;
  border-style: solid;
  border-color: var(--theme-primary) transparent transparent transparent;
}

.tooltip-arrow-bottom-right::after {
  content: "";
  position: absolute;
  top: 100%;
  right: 16px;
  margin-left: -6px;
  border-width: 8px;
  border-style: solid;
  border-color: var(--theme-primary) transparent transparent transparent;
}

.tooltip-secondary {
  background-color: var(--theme-secondary);
}

.tooltip-arrow-right.tooltip-secondary::after {
  border-color: transparent transparent transparent var(--theme-secondary);
}

.tooltip-arrow-bottom-left.tooltip-secondary::after,
.tooltip-arrow-bottom-right.tooltip-secondary::after,
.tooltip-arrow-bottom.tooltip-secondary {
  border-color: var(--theme-secondary) transparent transparent transparent;
}

.tooltip-arrow-left.tooltip-secondary::after {
  border-color: transparent var(--theme-secondary) transparent transparent;
}

.tooltip-arrow-top-right.tooltip-secondary::after,
.tooltip-arrow-top.tooltip-secondary::after,
.tooltip-arrow-top-left.tooltip-secondary::after {
  border-color: transparent transparent var(--theme-secondary) transparent;
}

// Popups
.popup-mask {
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  transition: blur 0.2s;
  background: var(--theme-semi-transparent);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;

  &.as-modal {
    position: fixed;

    .popup {
      max-height: calc(100% - 4rem);
      margin: 2rem;
      border-radius: 8px;

      .handle {
        display: none;
      }
    }
  }

  &.hidden {
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: none;
    background: transparent;
    pointer-events: none;
    position: absolute;
    display: none;
  }

  .popup {
    align-self: center;
    border-radius: 8px 8px 0 0;
    position: absolute;
    overflow: show;
    left: 5px;
    right: 5px;
    bottom: 0;
    display: flex;
    flex-direction: column;
    height: 50%;
    background: var(--theme-background-light);
    margin-top: 50px;
    transform: translate3d(0, 110%, 0);

    .wrapper {
      display: flex;
      min-height: 0;
    }

    &.full {
      height: 100%;
      max-height: 90vh;

      &.hidden {
        height: 0px;
        padding: 0;
        overflow: hidden;
        min-height: unset;
      }
    }

    .controls {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;

      .button {
        background: transparent;
        color: var(--theme-muted);
      }
    }

    .handle {
      content: "";
      cursor: pointer;
      pointer-events: all;
      position: absolute;
      width: 70%;
      left: 15%;
      height: 6px;
      background: var(--theme-placeholder);
      border-radius: 3px;
      top: -15px;
      border: none;
      z-index: 100;
    }

    .title {
      text-align: left;
      align-content: center;
      display: inline-flex;
      border-bottom: 1px solid var(--theme--borders);
      color: var(--theme-text);

      svg {
        margin-right: 1rem;
        stroke: var(--theme-text);
      }
    }
  }
}

// Extensions
.mini-extension-renderer {
  width: calc(40px - 1rem);
  height: calc(40px - 1rem);
  display: inline-flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  border-radius: 4px;
  font-size: 10px;
  color: var(--theme-text-muted);
  border: 1px dashed var(--theme-borders);
  padding: 0.5rem;

  button {
    border: none;
    color: var(--theme-text-muted);
    background: var(--theme-borders);
    border-radius: 4px;
    margin: 0 auto;
  }
}

.extension-renderer {
  width: calc(100% - 1rem);
  display: inline-flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  border-radius: 4px;
  font-size: 10px;
  color: var(--theme-text-muted);
  border: 1px dashed var(--theme-borders);
  padding: 0.5rem;

  button {
    border: none;
    max-width: 200px;
    color: var(--theme-text-muted);
    background: var(--theme-borders);
    border-radius: 4px;
    margin: 0 auto;
  }
}

// Loader

.bar {
  float: left;
  width: 15px;
  height: 6px;
  border-radius: 2px;
  background-color: var(--theme-text-bright);
}

.load .bar {
  animation: loadingJ 2s cubic-bezier(0.17, 0.37, 0.43, 0.67) infinite;
}

.load span {
  color: var(--theme-placeholder);
  animation: loadingK 2s cubic-bezier(0.17, 0.37, 0.43, 0.67) infinite;
  font-family: "Space Mono", monospace;
  font-size: 12pt;
}

// Photo Picker

.photo-picker {
  width: 100px;
  height: 100px;
  background: var(--theme-secondary);
  border-radius: 50px;
  display: inline-block;
  position: relative;
}

.photo-picker .display {
  height: 100%;
  width: 100%;
  display: inline-flex;
  justify-content: center;
}

.photo-picker .display svg {
  display: inline-block;
  vertical-align: middle;
  align-self: center;
  fill: transparent;
  stroke: var(--theme-text-muted);
}

.photo-picker .icon-button {
  position: absolute;
  bottom: 0;
  right: 0;
  min-width: 30px;
  height: 30px;
  overflow: hidden;
  padding: 0;
}

.photo-picker .icon-button svg {
  padding-top: 2px;
}


.folder {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  margin: 0.6rem;
  width: 90px;
  cursor: pointer;
  max-height: fit-content;

  &.primary {
    color: var(--theme-primary);
    stroke: var(--theme-primary);
  }
  
  .new_folder_input {
    width: 100%;
    background-color: var(--theme-background-light);
    border: none;
    border-radius: 2px;
    color: var(--theme-text);
    text-align: center;
  }

  svg {
    width: 70px;
    height: 70px;
  }

  label {
    margin: 0;
    font-size: var(--text-small);
  }
}


// Animations

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }

  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }

  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }

  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes loadingK {

  0%,
  100% {
    color: var(--theme-placeholder);
  }

  50% {
    color: var(--theme-secondary);
  }
}

@keyframes loadingJ {

  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(80px, 0);
    background-color: var(--theme-secondary);
    width: 25px;
  }
}

@keyframes pulse {
  from {
    transform: translate3d(100%, 0, 0), scale3d(1, 1, 1);
  }

  50% {
    transform: translate3d(0, 0, 0), scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: translate3d(0, 0, 0), scale3d(1, 1, 1);
  }
}

.selectable {
  -webkit-user-select: text;
  user-select: text;
}

.numeric_indicator {
  background-color: var(--theme-primary);
  position: absolute;
  top: 0;
  right: 0;
  padding: 2px;
  min-width: 12px;
  border-radius: 2px;
  font-size: var(--text-small);
  pointer-events: none;
}