// Fonts
@import url("extra/assets/style/fonts.css");
// Animate
@import url("extra/assets/style/animate.min.css");
// Tailwind
@import url("extra/assets/style/tailwind.css");

// Globals
:root {
  --heading-size: 18px;
  --subheading-size: 12pt;
  --text-size: 11pt;
  --label-size: 10pt;
  --text-small: 9pt;

  --padding: 2rem;
  --padding-small: 1rem;
  --sidebar-width: 300px;
}

[contenteditable] {
  -webkit-user-select: text;
  user-select: text;
}

.animate__animated {
  --animate-duration: 0.15s;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
  cursor: pointer;
}

.selectable {
  -webkit-user-select: text;
  user-select: text;
}

body,
html {
  background: var(--theme-background);
  color: var(--theme-text);
  font-family: "Poppins", sans-serif;
  font-size: var(--text-size);
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

hr {
  border: none;
  border-bottom: 1px solid var(--theme-borders);
  margin: 1rem 0;
}

.pre-alpha {
  width: 100%;
  background-color: var(--theme-primary);
  font-size: var(--text-small);
  padding: 0.5 auto;
  text-align: center;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  border-radius: 2.5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--theme-background);
  border-radius: 2.5px;
  opacity: 0;
  transition: opacity 1000ms ease;
  -webkit-transition: opacity 1000ms ease;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--theme-primary);
  opacity: 1;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--theme-primary);
  border-radius: 2.5px;
}

.gradient_mask {
  position: absolute;
  //background-image: url("extra/assets/img/dither_top.png");
  background-repeat: repeat-x;
  background-size: contain;
  height: 15px;
  width: 100%;
  top: 0;
  z-index: 1;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.gradient_mask.is_bottom {
  bottom: 0;
  top: unset;
  //background-image: url("extra/assets/img/dither_bottom.png");
}

.gradient_mask.is_foreground {
  //background-image: url("extra/assets/img/dither_top_foreground.png");
}

.gradient_mask.is_foreground.is_bottom {
  //background-image: url("extra/assets/img/dither_bottom_foreground.png");
}

.toast-single {
  background-color: var(--theme-primary) !important;
  border: none !important;
  color: var(--theme-text-bright) !important;
  font-family: "Space Mono", monospace !important;
}

svg {
  fill: transparent;
  stroke: var(--theme-text);
}

#main {
  height: 100%;
}

label {
  color: var(--theme-text-muted);
}

.error_text {
  color: var(--theme-red);
  opacity: 1;
  transition: 0.2s;
  font-size: 10pt;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Space Mono", monospace;
  margin-bottom: 0;
  font-size: var(--subheading-size);
}

h1 {
  font-size: var(--heading-size);
}

p {
  margin: 0;
  font-size: var(--text-size);
  color: var(--theme-text);
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: var(--heading-size);
}

.m-top {
  margin-top: 1rem;
}

.m-top-sm {
  margin-top: 1rem;
  display: inline-flex;
}

.m-bottom {
  margin-bottom: 1rem;
}

.m-bottom-sm {
  margin-bottom: 1rem;
}

.m-bottom-xl {
  margin-bottom: 4rem;
}

label {
  font-size: var(--label-size);
  text-align: left;
  margin: 1rem 0;
  font-family: "Space Mono", monospace;
  color: var(--theme-text-muted);
}

::placeholder {
  color: var(--theme-placeholder);
}

// Animations

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }

  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }

  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }

  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes loadingK {
  0%,
  100% {
    color: var(--theme-placeholder);
  }

  50% {
    color: var(--theme-secondary);
  }
}

@keyframes loadingJ {
  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(80px, 0);
    background-color: var(--theme-secondary);
    width: 25px;
  }
}

@keyframes pulse {
  from {
    transform: translate3d(100%, 0, 0), scale3d(1, 1, 1);
  }

  50% {
    transform: translate3d(0, 0, 0), scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: translate3d(0, 0, 0), scale3d(1, 1, 1);
  }
}
