@import url("extra/assets/style/fonts.css");
@import url("extra/assets/style/animate.min.css");

:root {
  --heading-size: 18px;
  --subheading-size: 12pt;
  --text-size: 11pt;
  --label-size: 10pt;
  --text-small: 9pt;

  --padding: 2rem;
  --padding-small: 1rem;
  --sidebar-width: 300px;
}

*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: theme("borderColor.DEFAULT", currentColor);
  margin: 0;
}

html,
body {
  height: 100%;
  width: 100;
  overflow: hidden;
}

body {
  line-height: 1.5;
  color: var(--theme-text);
  font-size: var(--text-size);
  font-family: "Poppins", sans-serif;
  background: var(--theme-background);
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-family: "Space Mono", monospace;
  font-size: var(--heading-size);
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "Space Mono", monospace;
  font-size: var(--subheading-size);
}

hr {
  height: 0;
  color: var(--theme-borders);
  border-top-width: 1px;
  margin: 1rem 0;
}

a {
  color: inherit;
  text-decoration: inherit;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
}

button,
select {
  text-transform: none;
}

button {
  cursor: pointer;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  background-color: transparent;
  background-image: none;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

[contenteditable] {
  -webkit-user-select: text;
  user-select: text;
}

.animate__animated {
  --animate-duration: 0.15s;
}

.ellipsis {
  text-overflow: ellipsis;
  white-space: pre;
  overflow: hidden;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
  cursor: pointer;
}

.selectable {
  -webkit-user-select: text;
  user-select: text;
}

.pre-alpha {
  width: 100%;
  background-color: var(--theme-primary);
  font-size: var(--text-small);
  padding: 0.5 auto;
  text-align: center;
}

/* width */
::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  border-radius: 2.5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--theme-background);
  border-radius: 2.5px;
  opacity: 0;
  transition: opacity 1000ms ease;
  -webkit-transition: opacity 1000ms ease;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--theme-primary);
  opacity: 1;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--theme-primary);
  border-radius: 2.5px;
}

.toast-single {
  background-color: var(--theme-primary) !important;
  border: none !important;
  color: var(--theme-text-bright) !important;
  font-family: "Space Mono", monospace !important;
}

svg {
  fill: transparent;
  stroke: var(--theme-text);
}

#main {
  height: 100%;
}

label {
  color: var(--theme-text-muted);
  margin-top: 0;
}

.error_text {
  color: var(--theme-red);
  opacity: 1;
  transition: 0.2s;
  font-size: 10pt;
}

.m-top {
  margin-top: 1rem;
}

.m-top-sm {
  margin-top: 1rem;
  display: inline-flex;
}

.m-bottom {
  margin-bottom: 1rem;
}

.m-bottom-sm {
  margin-bottom: 1rem;
}

.m-bottom-xl {
  margin-bottom: 4rem;
}

.flex-1 {
  flex: 1;
}

label {
  font-size: var(--label-size);
  text-align: left;
  margin: 1rem 0;
  font-family: "Space Mono", monospace;
  color: var(--theme-text-muted);
}

::placeholder {
  color: var(--theme-placeholder);
}

// Animations

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }

  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }

  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }

  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes loadingK {
  0%,
  100% {
    color: var(--theme-placeholder);
  }

  50% {
    color: var(--theme-secondary);
  }
}

@keyframes loadingJ {
  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(80px, 0);
    background-color: var(--theme-secondary);
    width: 25px;
  }
}

@keyframes pulse {
  from {
    transform: translate3d(100%, 0, 0), scale3d(1, 1, 1);
  }

  50% {
    transform: translate3d(0, 0, 0), scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: translate3d(0, 0, 0), scale3d(1, 1, 1);
  }
}

pre[hidden] {
  display: none;
}
