#files {
  #browser {
    width: 100%;
    min-height: 0;
    flex: 1;
    overflow-y: scroll;
    margin-left: 4px;
    justify-content: flex-start;
    flex-wrap: wrap;
    display: inline-flex;
    align-content: flex-start;
    &:hover {
      &::-webkit-scrollbar-thumb {
        background: var(--theme-primary);
        opacity: 1;
      }
    }
  }
}
