#files {
  #browser {
    min-height: 0;
    flex: 1;
    overflow-y: scroll;
    margin-left: 4px;
    justify-content: flex-start;
    flex-wrap: wrap;
    display: inline-flex;
    align-content: flex-start;

    &:hover {
      &::-webkit-scrollbar-thumb {
        background: var(--theme-primary);
        opacity: 1;
      }
    }
  }

  .item {
    cursor: pointer;
    border: none;
    color: transparent;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 8px;
    width: 130px;
    justify-content: center;
    align-items: center;
    color: var(--theme-text);

    &:hover {
      cursor: pointer;
      background-color: var(--theme-background-light);
    }
  }
}

.dir_paths_navigation {
  &:hover {
    color: var(--theme-primary);
    cursor: pointer;
    text-decoration: underline;
  }
}
