#files {
  #browser {
    width: 100%;
    min-height: 0;
    flex: 1;
    overflow-y: scroll;
    margin-left: 4px;
    justify-content: flex-start;
    flex-wrap: wrap;
    display: inline-flex;
    align-content: flex-start;
    &:hover {
      &::-webkit-scrollbar-thumb {
        background: var(--theme-primary);
        opacity: 1;
      }
    }
  }

  .item {
    cursor: pointer;
    border: none;
    color: transparent;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 0.6rem;
    border-radius: 10px;
    width: 130px;
    transition-duration: 0.4s;
    transition: transform 0.2s;
    justify-content: center;
    align-items: center;
  }

  .file {
    background-color: transparent;
    color: var(--theme-text);

    &:hover {
      background-color: var(--theme-secondary-light);
      width: 130px;
      transform: scale(1.1);
      color: var(--theme-text-bright);
    }
  }

  .dropdown {
    position: relative;
    display: inline-block;
    max-height: 132px;

    .dropdown-content {
      display: none;
      position: relative;
      border-radius: 8px;
      background: var(--theme-secondary);
      width: fit-content;
      top: -124px;
      left: 132px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;

      a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;

        &:hover {
          background-color: var(--theme-secondary-light);
          .dropdown-content {
            display: block;
          }
          .item {
            background-color: var(--theme-secondary-light);
            transform: scale(1.1);
          }
        }
      }
    }
  }
}
