.folder {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  cursor: pointer;
  max-height: fit-content;

  &.primary {
    color: var(--theme-primary);
    stroke: var(--theme-primary);
  }

  .new_folder_input {
    width: 100%;
    background-color: var(--theme-background-light);
    border: none;
    border-radius: 2px;
    color: var(--theme-text);
    text-align: center;
  }

  svg {
    width: 70px;
    height: 70px;
  }

  label {
    margin: 0;
    font-size: var(--text-small);
  }
}
