.input-profile {
  margin-right: 1rem;
  width: 100%;
}
.change-profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-header {
  background: var(--theme-text-muted);
  border-radius: 8px 8px 0 0;
  height: 140px;
  margin-bottom: 40px;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  justify-items: center;
}

.profile-picture {
  margin-top: 80px;
}
