#media-container {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  gap: 1rem;
  padding-top: 1rem;
  min-height: 240px;
  max-height: calc(100% - 15rem);
  background: var(--theme-background);
  border-bottom: 1px solid var(--theme-borders);
  overflow-y: hidden;
  resize: vertical;

  &.fullscreen {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-height: unset;
    height: 100% !important;
    resize: none;
  }

  .media-view {
    display: flex;
    overflow-y: hidden;
    flex: 1;

    #media-content {
      position: relative;
      display: flex;
      flex: 1;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
      align-content: center;
      gap: 1rem;
      min-height: 120px;
      margin: 0 12px;
      overflow: hidden;
    }

    .media-toggle {
      flex-shrink: 0;
    }
    .settings-toggle {
      flex-shrink: 0;
    }
  }
}
