#media-container {
  width: 100%;
  background: var(--theme-background);
  display: inline-flex;
  flex-direction: column;
  min-height: 300px;
  max-height: calc(100% - 15rem);
  border-bottom: 1px solid var(--theme-borders);
  overflow-y: hidden;
  resize: vertical;
  position: relative;

  &.fullscreen {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-height: unset;
    height: 100% !important;
    resize: none;
  }

  .media-view {
    display: flex;
    overflow-y: scroll;
    flex: 1;

    #media-content {
      flex: 1;
      margin-top: 12px;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-content: center;
      gap: 8px;
    }

    .media-toggle {
      flex-shrink: 0;
    }
    .settings-toggle {
      flex-shrink: 0;
    }
  }
}
