// Styles are globally scoped, please use unique names and nested selectors to avoid conflicts.

.messages {
  display: inline-flex;
  flex-direction: column-reverse;
  height: 100%;
  max-width: calc(100vw - 330px - 2rem);
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 0 1rem;
  position: relative;
  width: calc(100% - 2rem);
}
