// Styles are globally scoped, please use unique names and nested selectors to avoid conflicts.

.messages {
  display: inline-flex;
  flex-direction: column-reverse;
  height: 100%;
  max-width: calc(100vw - 330px - 2rem);
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 0 1rem;
  padding-right: calc(1rem - 10px);
  margin-right: 5px;
  position: relative;
  width: calc(100% - 2rem);
  padding-bottom: 1rem;
  margin-top: 1rem;
  &:hover {
    &::-webkit-scrollbar-thumb {
      background: var(--theme-primary) !important;
      opacity: 1;
    }
  }

  .encrypted-notif {
    display: inline-flex;
    align-content: center;
    justify-content: center;
    background: var(--theme-background-light);
    border-radius: 4px;
    width: fit-content;
    align-self: center;
    padding: 0.5rem;
    margin: 1rem 0;
    svg {
      stroke: var(--theme-text-muted);
      margin-right: 0.5rem;
      margin-top: -0.15rem;
    }
    p {
      color: var(--theme-text-muted);
    }
  }
}
