#toolbar {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  justify-self: flex-end;
  #controls {
    justify-self: flex-end;
  }
  #content {
    position: relative;
    float: right;
  }
}
