/* Styles are globally scoped, please use unique names and nested selectors to avoid conflicts. */

.nav {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: absolute;
    bottom: 1rem;
    left: 0;
    right: 0;

    .button {
        svg {
            stroke: var(--theme-text-bright);
        }
    }

    .button-secondary {
        background: none;

        svg {
            stroke: var(--theme-text-muted);
        }
    }
}