.context-menu {
  position: fixed;
  border-radius: 4px;
  background: var(--theme-background-light);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  padding: 4px;
  box-shadow: 0px 8px 10px 1px rgb(0 0 0 / 14%),
    0px 3px 14px 2px rgb(0 0 0 / 12%), 0px 5px 5px -3px rgb(0 0 0 / 20%);

  &.hidden {
    display: none;
  }

  .context-item {
    display: flex;
    padding: 0.25rem 0.5rem;
    border-radius: 4px;
    gap: 0.5rem;
    align-items: center;

    &:hover {
      background: var(--theme-primary);
      cursor: pointer;
    }

    &.danger {
      color: var(--theme-red);
      &:hover {
        color: var(--theme-text-bright);
        background-color: var(--theme-red);
      }
    }
  }

  hr {
    color: var(--theme-background);
    margin: 0.5rem 0;
  }
}
