#files {
  #sidebar {
    padding: 0 1rem 1rem 1rem;
    .tree_wrapper {
      flex: 1;
    }

    .tree_folder,
    .tree_item {
      display: inline-flex;
      flex-direction: column;
      width: 100%;
      padding-left: 0.25rem;
      margin: 0.25rem;
      position: relative;
      cursor: pointer;
      user-select: none;
      font-family: "Poppins", sans-serif !important;
      color: var(--theme-text-darker);
    }

    .tree_folder {
      font-size: var(--text-size);
      color: var(--theme-text-darker);
      font-weight: normal;
    }

    .row {
      display: inline-flex;
      align-items: center;

      svg {
        margin-right: 0.5rem;
      }
    }

    .root {
      color: var(--theme-text-bright);
      padding-left: 0;
      display: inline-flex;
    }
  }
  #files-label {
    margin-top: 1.5rem;
    margin-bottom: -1rem;
  }
}
