#files {
  #sidebar {
    .children {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      overflow: hidden;
    }

    .label {
      font-size: var(--label-size);
      font-family: "Space Mono", monospace;
      color: var(--theme-text-muted);
    }

    .tree-container {
      flex-grow: 1;
      overflow: auto;

      .tree-item {
        display: flex;
        flex-direction: column;
        user-select: none;
        .row {
          display: flex;
          gap: 0.5rem;
          color: var(--theme-text-darker);
          cursor: pointer;
          padding: 0.2rem 0;
        }
        .tree-item {
          margin-left: 8px;
        }
      }
    }
  }
}
