#files {
    #sidebar {
        width: var(--sidebar-width);
        height: 100%;
        padding: 1rem;
        border-right: 1px solid var(--theme-borders);

        .tree_folder, .tree_item {
            display: inline-flex;
            flex-direction: column;
            width: 100%;
            padding-left: 1rem;
            position: relative;
            cursor: pointer;
            user-select: none;
            margin: 0;
            font-family: "Poppins",sans-serif !important;
            color: var(--theme-text-darker);

            svg {
                stroke: var(--theme-text-darker);
            }
        }

        .tree_folder {
            margin: 0 0 0.5rem 0;
            font-size: var(--text-size);
            font-weight: normal;
        }

        .row {
            display: inline-flex;
            align-items: center;

            svg {
                margin-right: 0.5rem;
            }
        }

        .root {
            color: var(--theme-text-bright);
            padding-left: 0;
            display: inline-flex;
        }
    }
}