// Styles are globally scoped, please use unique names and nested selectors to avoid conflicts.

.nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: var(--nav-height);
  flex-shrink: 0;

  .has_indicator {
    position: relative;
  }
  .button {
    svg {
      stroke: var(--theme-text-bright);
    }
  }

  .button-secondary {
    background: none;

    svg {
      stroke: var(--theme-text-muted);
    }
  }
}
