.list-type-button {
  margin: 1rem;
  padding: 0;
  .button {
    background-color: transparent;
    height: 30px;
    border-radius: 4px;
    &:hover {
      background-color: var(--theme-borders);
    }
  }
  &.active {
    .button {
      background-color: var(--theme-primary);
      &:hover {
        background-color: var(--theme-primary-light);
      }
    }
  }
}
